.background-centeralign {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: 1% auto;
}

.upper-panel {
  margin: 1%;
  display: flex;
  justify-content: center;
  width: 100%;
}

.array-bars-space {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.array-bar {
  display: inline-block;
  background-color: "orange";
  height: "100px";
  width: "10px";
  border: "1px solid black"
}